.al_03_2105 {
  background: url('./img/bg.jpg') 0 0 / contain no-repeat;

  .tittle {
    position: absolute;
    width: 433px;
    height: 86px;
    background: url('./img/tittle.png') 0 0 / contain no-repeat;
    top: 103.5px;
    left: 91.5px;
  }

  .txt {
    position: absolute;
    width: 291px;
    height: 303.5px;
    background: url('./img/txt.png') 0 0 / contain no-repeat;
    top: 265.5px;
    left: 92.5px;
  }

  .diamond {
    position: absolute;
    width: 366.5px;
    height: 239px;
    background: url('./img/diamond.png') 0 0 / contain no-repeat;
    top: 450px;
    left: 399px;
  }
}
