* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 1080px;
  max-height: 810px;
  margin: auto;
  display: flex;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(68, 68, 68, 0.25);
  overflow: hidden;
}

.slide-container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// #console {
//   position: absolute;
//   z-index: 1;
//   top: 20%;
//   left: 0;
//   overflow: hidden;
//   width: 50%;
//   height: 100%;
//   background-color: #ffffff;
//   opacity: 1;

//   word-break: break-all;

//   #text {
//     min-height: 500px;

//     .error {
//       background-color: rgb(211, 4, 4);
//     }
//   }
// }
