.al_07_2105 {
  background: url('./img/bg.jpg') 0 0 / contain no-repeat;

  .tittle {
    position: absolute;
    width: 321.5px;
    height: 25px;
    background: url('./img/tittle.png') 0 0 / contain no-repeat;
    top: 154px;
    left: 158px;
  }

  .brn_close {
    position: absolute;
    width: 61.5px;
    height: 60px;
    background: url('./img/brn_close.png') 0 0 / contain no-repeat;
    top: 136.5px;
    left: 964px;
  }

  .rectangle3 {
    position: absolute;
    width: 904px;
    height: 588px;
    background: url('./img/rectangle3.png') 0 0 / contain no-repeat;
    top: 98px;
    left: 91px;
  }
}
