.al_02_2105 {
  background: url('./img/bg.jpg') 0 0 / contain no-repeat;

  .popup_btn_close {
    position: absolute;
    width: 61.5px;
    height: 60px;
    background: url('./img/popup_btn_close.png') 0 0 / contain no-repeat;
    top: 141.5px;
    left: 65px;
    display: none;
  }

  .popup_content {
    position: absolute;
    width: 1080px;
    height: 810px;
    background: url('./img/popup_content.png') 0 0 / contain no-repeat;
    top: 0px;
    left: 0px;
    display: none;
  }

  .tittle {
    position: absolute;
    width: 354px;
    height: 113px;
    background: url('./img/tittle.png') 0 0 / contain no-repeat;
    top: 107px;
    left: 88.5px;
    display: none;
  }

  .btn {
    position: absolute;
    width: 219.5px;
    height: 49.5px;
    background: url('./img/btn.png') 0 0 / contain no-repeat;
    top: 266.5px;
    left: 88px;
    display: none;
  }

  .block_2 {
    position: absolute;
    width: 194px;
    height: 42.5px;
    background: url('./img/block_2.png') 0 0 / contain no-repeat;
    top: 625px;
    left: 726.5px;
    display: none;
  }

  .block_1 {
    position: absolute;
    width: 193.5px;
    height: 36px;
    background: url('./img/block_1.png') 0 0 / contain no-repeat;
    top: 625px;
    left: 173px;
    display: none;
  }

  .finger {
    position: absolute;
    width: 39px;
    height: 53px;
    background: url('./img/finger.png') 0 0 / contain no-repeat;
    top: 670px;
    left: 443px;
    display: none;
  }

  .left {
    position: absolute;
    width: 94px;
    height: 94.5px;
    background: url('./img/left.png') 0 0 / contain no-repeat;
    top: 650px;
    left: 411px;
    display: none;
  }

  .line {
    position: absolute;
    width: 145px;
    height: 5px;
    background: url('./img/line.png') 0 0 / contain no-repeat;
    top: 639px;
    left: 465.5px;
    display: none;
  }

  .icn_3 {
    position: absolute;
    width: 246.5px;
    height: 77px;
    background: url('./img/icn_3.png') 0 0 / contain no-repeat;
    top: 416px;
    left: 732.5px;
    display: none;
  }

  .icn_2 {
    position: absolute;
    width: 231px;
    height: 77px;
    background: url('./img/icn_2.png') 0 0 / contain no-repeat;
    top: 426.5px;
    left: 107px;
    display: none;
  }

  .icn_1 {
    position: absolute;
    width: 209px;
    height: 77px;
    background: url('./img/icn_1.png') 0 0 / contain no-repeat;
    top: 220px;
    left: 682px;
    display: none;
  }

  .icn_4 {
    position: absolute;
    width: 318.5px;
    height: 77px;
    background: url('./img/icn_4.png') 0 0 / contain no-repeat;
    top: 329.5px;
    left: 729.5px;
    display: none;
  }

  .icn_21 {
    position: absolute;
    width: 209px;
    height: 77px;
    background: url('./img/icn_21.png') 0 0 / contain no-repeat;
    top: 494px;
    left: 155.5px;
    display: none;
  }

  .icn_11 {
    position: absolute;
    width: 250.5px;
    height: 77px;
    background: url('./img/icn_11.png') 0 0 / contain no-repeat;
    top: 295px;
    left: 94px;
    display: none;
  }

  .icn_5 {
    position: absolute;
    width: 251.5px;
    height: 77px;
    background: url('./img/icn_5.png') 0 0 / contain no-repeat;
    top: 481.5px;
    left: 710px;
    display: none;
  }

  .icn_31 {
    position: absolute;
    width: 327px;
    height: 77px;
    background: url('./img/icn_31.png') 0 0 / contain no-repeat;
    top: 202px;
    left: 665px;
    display: none;
  }

  .txt_centr {
    position: absolute;
    width: 206.5px;
    height: 39px;
    background: url('./img/txt_centr.png') 0 0 / contain no-repeat;
    top: 388.5px;
    left: 432px;
    display: none;
  }

  .rings {
    position: absolute;
    width: 599px;
    height: 560.5px;
    background: url('./img/rings.png') 0 0 / contain no-repeat;
    top: 108px;
    left: 235.5px;
    display: none;
  }

  .slider {
    width: 160px;
    position: absolute;
    bottom: 176px;
    left: 458px;
  }

  .woman_1 {
    position: absolute;
    width: 1079px;
    height: 810px;
    background: url('./img/woman_1.png') 0 0 / contain no-repeat;
    top: 0px;
    left: 0px;
    display: none;
  }

  .woman_2 {
    position: absolute;
    width: 1079px;
    height: 810px;
    background: url('./img/woman_2.png') 0 0 / contain no-repeat;
    top: 0px;
    left: 0px;
    display: none;
  }

  &_state_0 {
    .woman_1,
    .icn_1,
    .icn_2,
    .icn_3,
    .tittle,
    .btn,
    .finger,
    .line,
    .block_1,
    .block_2 {
      display: block;
    }
  }

  &_state_1 {
    .icn_11,
    .icn_21,
    .icn_4,
    .icn_5,
    .icn_31,
    .tittle,
    .line,
    .txt_centr,
    .rings,
    .woman_2,
    .block_1,
    .block_2 {
      display: block;
    }
  }

  &_state_2 {
    .woman_1,
    .icn_1,
    .icn_2,
    .icn_3,
    .tittle,
    .btn,
    .finger,
    .line,
    .popup_btn_close,
    .popup_content,
    .block_1,
    .block_2 {
      display: block;
    }
  }
}
